# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=your-api-key
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
OPENAI_API_VERSION=2023-07-01-preview
AZURE_OPENAI_MODEL=gpt-4o

# For deployment
DEPLOY_MODE=development   # development or production

LOG_LEVEL=INFO  # Set the logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL

# Google Cloud Configuration for Document AI and Map API
GOOGLE_CLOUD_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=

# Google Cloud Configuration for Custom Search
GOOGLE_CSE_ID=

# Path to the service account JSON file on the host machine
GOOGLE_APPLICATION_CREDENTIALS_ON_HOST= 

GOOGLE_GENAI_CACHE_ENABLED=true
GOOGLE_GENAI_CACHE_DIR=./google_genai_cache

PLAYWRIGHT_CACHE_TTL_SECONDS=3600
PLAYWRIGHT_CACHE_DIR=./.cache/playwright

DOCUMENT_AI_LOCATION=us
DOCUMENT_AI_PROCESSOR_ID=

LLM_TEMPERATURE=0

INVESTIGATE_RESEARCHER_HISTORY=false

HUMANDBS_API_BASE_URL=https://humandbs-staging.ddbj.nig.ac.jp
HUMANDBS_WEB_BASE_URL=https://humandbs.dbcls.jp/
DDBJ_SEARCH_API_BASE_URL=https://ddbj.nig.ac.jp/search/api/entries/jga-dataset/