@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

:root {
  --books: "\f5db";
  --dataset: "\f1c0";
  --info: "\f05a";
  --tip: "\f0eb";
  --warning: "\f071";

  --assets-panel-width: 500px;
}

@theme {
  --color-primary: #edeff2;
  --color-primary-translucent: rgba(0, 0, 0, 0.1);

  --color-secondary: #1a5fbd;
  --color-secondary-light: #1a96d2;
  --color-secondary-lighter: #2ebedb;

  --color-tetriary: #002245;
  --color-tetriary-light: #2a5b73;

  --color-input: #f7f7f7;

  --color-hover: #f5f5f5;
  --color-accent: #eb0075;
  --color-accent-light: #ff618e;

  --color-danger: #d51616;

  --color-foreground: black;
  --color-foreground-dark: #002245;
  --color-foreground-light: #abb4c4;

  --color-ring: var(--color-secondary);

  --text-lg: 2.8rem;
  --text-base: 1.6rem;
  --text-sm: 1.4rem;
  --text-xs: 1.2rem;
  --text-2xs: 0.9rem;

  --spacing-assets-panel: var(--assets-panel-width);

  --font-sans:
    i-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-fontawesome: "FontAwesome6";
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply text-base;
  }

  @font-face {
    font-family: "FontAwesome6";
    font-weight: 400;
    font-style: normal;

    src:
      url("./assets/fontawesome/fa-regular-400.woff2") format("woff2"),
      url("./assets/fontawesome/fa-regular-400.ttf") format("truetype");
  }

  @font-face {
    font-family: "FontAwesome6";
    font-weight: 900;
    font-style: normal;

    src:
      url("./assets/fontawesome/fa-solid-900.woff2") format("woff2"),
      url("./assets/fontawesome/fa-solid-900.ttf") format("truetype");
  }
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .main-bg {
    background-image:
      linear-gradient(
        var(--color-primary-translucent),
        var(--color-primary-translucent)
      ),
      url("./assets/BG.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }

  .md-editor {
    position: absolute;
    inset: 0;

    .w-md-editor-input {
      position: relative;
    }

    .w-md-editor-area {
      position: absolute;
    }

    .w-md-editor-fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }

    .wmde-markdown-color {
      > .language-markdown {
        .code-line {
          .title {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

@layer utilities {
  .content-inline-icon {
    @apply my-0 inline h-4;
  }
  .content-callout {
    @apply border-secondary rounded border p-2;
  }

  /* Tailwind utilities */
  .animate-spin {
    animation: var(--animate-spin); /* spin 1s linear infinite */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
