@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #edeff2;
  --color-primary-translucent: rgba(0, 0, 0, 0.1);

  --color-secondary: #1a5fbd;
  --color-secondary-light: #1a96d2;
  --color-secondary-lighter: #2ebedb;

  --color-tetriary: #002245;
  --color-tetriary-light: #2a5b73;

  --color-accent: #eb0075;
  --color-accent-light: #ff618e;

  --color-foreground: black;
  --color-foreground-dark: #002245;
  --color-foreground-light: #abb4c4;

  --font-sans:
    i-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-fontawesome: "FontAwesome6";

  --books: "\f5db";
  --dataset: "\f1c0";
}

@layer base {
  @font-face {
    font-family: "FontAwesome6";
    font-weight: 400;
    font-style: normal;

    src:
      url("./assets/fontawesome/fa-regular-400.woff2") format("woff2"),
      url("./assets/fontawesome/fa-regular-400.ttf") format("truetype");
  }
  @font-face {
    font-family: "FontAwesome6";
    font-weight: 900;
    font-style: normal;

    src:
      url("./assets/fontawesome/fa-solid-900.woff2") format("woff2"),
      url("./assets/fontawesome/fa-solid-900.ttf") format("truetype");
  }
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .main-bg {
    background-image:
      linear-gradient(
        var(--color-primary-translucent),
        var(--color-primary-translucent)
      ),
      url("./assets/BG.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}
